---
import InfoComponent from "./InfoComponent.astro";
import MailIcon from "@/assets/mail.svg";
import Cake from "@/assets/cake.svg";
import Location from "@/assets/location.svg";
import Phone from "@/assets/phone.svg";
import Memoji from "@/assets/memoji.avif";
---

<aside
  class="relative top-0 xl:sticky xl:top-12 bg-(--background-card) w-full xl:max-w-[16vw] h-full rounded-3xl border border-(--border-color)"
>
  <div class="absolute right-0 rounded-tr-3xl rounded-bl-2xl py-1 pl-2 pr-2 md:pl-4 md:pr-10 md:size-10 bg-(--primary-color) z-10 xl:hidden">
    <input type="checkbox" class="hidden" id="toggle-info" />
    <label
      for="toggle-info"
      class=""
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="lucide lucide-arrow-down-icon lucide-arrow-down"
        ><path d="M12 5v14"></path><path d="m19 12-7 7-7-7"></path></svg
      >
    </label>
  </div>
  <div class="px-4 md:px-8 py-4 flex flex-col items-center text-center">
    <div
      class="w-full xl:mt-10 flex xl:flex-col flex-row justify-start xl:justify-center items-center"
    >
      <div class="rounded-3xl size-20 xl:size-30 xl:mx-auto">
        <img src={Memoji.src} alt="Me" class="rounded-2xl size-20 xl:size-30" />
      </div>
      <div class="ml-4 flex flex-col xl:flex-col justify-end md:justify-center">
        <div class="my-2 lg:my-4">
          <span class="md:text-2xl text-base">Sebastian Romero</span>
        </div>
        <div>
          <span
            class="bg-(--secondary-color) px-3 py-1 rounded-xl text-xs md:text-base"
            >Software Engineer</span
          >
        </div>
      </div>
    </div>
    <section id="info" class="w-full">
      <div class="h-[0.5px] my-8 w-full bg-[#565656]"></div>
      <div class="w-full flex flex-col h-full justify-between">
        <ul class="grid xl:grid-cols-1 md:grid-cols-2 grid-cols-1">
          <a href="mailto:sebastian_engineer@hotmail.com">
            <InfoComponent
              icon={MailIcon}
              title="Email"
              value="sebastian_engineer@hotmail.com"
            />
          </a>
          <InfoComponent icon={Phone} title="Phone" value="+1 (305) 970-0394" />
          <InfoComponent icon={Cake} title="Age" value="23" />
          <InfoComponent icon={Location} title="Location" value="Miami, FL" />
        </ul>
        <div class="h-[0.5px] xl:h-0 xl:my-8 w-full xl:hidden bg-[#565656]">
        </div>
        <ul class="flex justify-center my-6">
          <li class="mx-2">
            <a href="https://github.com/sebasromero" target="_blank">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="20"
                height="20"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="lucide lucide-github-icon lucide-github"
                ><path
                  d="M15 22v-4a4.8 4.8 0 0 0-1-3.5c3 0 6-2 6-5.5.08-1.25-.27-2.48-1-3.5.28-1.15.28-2.35 0-3.5 0 0-1 0-3 1.5-2.64-.5-5.36-.5-8 0C6 2 5 2 5 2c-.3 1.15-.3 2.35 0 3.5A5.403 5.403 0 0 0 4 9c0 3.5 3 5.5 6 5.5-.39.49-.68 1.05-.85 1.65-.17.6-.22 1.23-.15 1.85v4"
                ></path><path d="M9 18c-4.51 2-5-2-7-2"></path></svg
              >
            </a>
          </li>
          <li class="mx-2">
            <a href="https://www.linkedin.com/in/sebasromerog/" target="_blank">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="20"
                height="20"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="lucide lucide-linkedin-icon lucide-linkedin"
                ><path
                  d="M16 8a6 6 0 0 1 6 6v7h-4v-7a2 2 0 0 0-2-2 2 2 0 0 0-2 2v7h-4v-7a6 6 0 0 1 6-6z"
                ></path><rect width="4" height="12" x="2" y="9"></rect><circle
                  cx="4"
                  cy="4"
                  r="2"></circle></svg
              >
            </a>
          </li>
        </ul>
      </div>
    </section>
  </div>
</aside>

<script>
  const toggle = document.getElementById("toggle-info");
  const info = document.getElementById("info");

  toggle?.addEventListener("change", () => {
    if (!info) return;
    const input = toggle as HTMLInputElement;
    info.style.display = input.checked ? "none" : "block";
  });
</script>
